
@{
    ViewBag.Title = "Index";
}
@if (Model != null)
            {
                <h2>@Model.userName</h2>
                <h2>@Model.passWord</h2>
            }

<h2>Form Submmition by using Model Mapping</h2>
<form action="" method="get">
    <input type="text" class="form-control" peaceholder="User name" name="userName"/>
    <input type="text" class="form-control" peaceholder="Password" name="passWord"/>
    <input type="submit" class="btn btn-danger" />

</form>

